{% extends "notes/base.html" %}
{% load static %}

{% block content %}

<div class="appbar">
  <div style="display: flex; flex-direction: row;">
    <img src="{% static 'notes/img/logo-getit.png' %}" class="logo"/>
    <p class="subtitle">Como o Post-it, mas com outro verbo</p>
  </div>
</div>

<main class="container">

  <form method="post" style="display: flex; flex-direction: row; padding-top: 3rem;">
    {% csrf_token %}
    <p style="display: flex; flex-direction: row; align-items: center;">Memória:</p>
    <textarea style="margin: 0.6rem;"
      class="autoresize"
      name="detalhes"
      placeholder="Digite o conteúdo..."
    ></textarea>
    <button class="btn" type="submit">Criar</button>
    
  </form>


<ul style="padding: 2rem;" class="card-container">
  {% for note in notes %}
  {% if forloop.last %} {# Check if it's the last iteration #}
  <div class="card">
    <div class="card-content">
      <p>
        {{ note.content }}
      </p>
    </div>
  </div>
  {% endif %}
  {% endfor %}
</ul>

</main>

{% endblock %}